<table class="striped">
  <thead>
    <tr>
        <th data-field="itemName">Item</th>
        <th data-field="itemVolume">Volume</th>
        <th data-field="minPriceInSource">Price in source</th>
        <th data-field="minPriceInDestination">Price in Destination</th>
        <th data-field="volRemainingInDestination">Volume on market</th>
        <th data-field="distinctMarketOrdersInDestination">Orders on market</th>
        <th data-field="numberSoldInDestinationPerDay">Daily Sales</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let importSuggestion of importSuggestions">
      <td>{{ importSuggestion.itemName }}</td>
      <td>{{ importSuggestion.itemVolume }}</td>
      <td>{{ importSuggestion.minPriceInSource }}</td>
      <td>{{ importSuggestion.minPriceInDestination }}</td>
      <td>{{ importSuggestion.volRemainingInDestination }}</td>
      <td>{{ importSuggestion.distinctMarketOrdersInDestination }}</td>
      <td>{{ importSuggestion.numberSoldInDestinationPerDay }}</td>
    </tr>
  </tbody>
</table>
